- name: Install CRI-O
  hosts: 'k8scontrollers, k8sworkers'
  remote_user: kube
  become: true
  become_method: sudo
  tasks:
   # Configure Prerequisites
   - name: Update Modules K8s config
     ansible.builtin.copy:
      dest: '/etc/modules-load.d/k8s.conf'
      content: |
          overlay
          br_netfilter
      mode: '0777'
     changed_when: true
   - name: Modeprobe OverlayFS
     community.general.modprobe:
      name: overlay
   - name: Modeprobe BRNetFilter
     community.general.modprobe:
      name: br_netfilter

   - name: Update Sysctl K8s config
     ansible.builtin.copy:
      dest: '/etc/sysctl.d/k8s.conf'
      content: |
          net.bridge.bridge-nf-call-iptables  = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward                 = 1
      mode: '0777'
     changed_when: true
   - name: Apply sysctl
     ansible.builtin.command:
      cmd: sysctl --system
     changed_when: true

   # Install
   - name: Install CRI-O (1/3) - Add stable repo
     ansible.builtin.copy:
      dest: '/etc/yum.repos.d/devel:kubic:libcontainers:stable.repo'
      content: |
          [devel_kubic_libcontainers_stable_cri-o_1.26]
          name=devel:kubic:libcontainers:stable:cri-o:1.26 (CentOS_8_Stream)
          type=rpm-md
          baseurl=https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.26/CentOS_8_Stream/
          gpgcheck=1
          gpgkey=https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.26/CentOS_8_Stream/repodata/repomd.xml.key
          exclude=cri-o containernetworking-plugins
          enabled=1
      mode: '0644'
      follow: yes
     changed_when: true
   - name: Install CRI-O (2/3) - Add CRI-O repo
     ansible.builtin.copy:
      dest: '/etc/yum.repos.d/devel:kubic:libcontainers:stable:cri-o:1.26.repo'
      content: |
          [devel_kubic_libcontainers_stable]
          name=Stable Releases of Upstream github.com/containers packages (CentOS_8_Stream)
          type=rpm-md
          baseurl=https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8_Stream/
          gpgcheck=1
          gpgkey=https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8_Stream/repodata/repomd.xml.key
          exclude=cri-o containernetworking-plugins
          enabled=1
      mode: '0644'
      follow: yes
     changed_when: true
   - name: Install CRI-O (3/3) - YUM Install
     ansible.builtin.yum:
      name:
       - cri-o-1.26.1-5.4.el8
       - containernetworking-plugins-1:1.2.0-1.el9
      disable_excludes: all
      state: present
   - name: Enable CRI-O service
     ansible.builtin.systemd:
      name: crio
      enabled: true
      state: started
