- name: Get kubeadm Join String
  hosts: 'k8scontrollers'
  remote_user: kube
  become: true
  become_method: sudo
  tasks:
   - name: Get Join Command
     ansible.builtin.command:
      cmd: kubeadm token create --print-join-command
     register: kubeadmjoin
     changed_when: false
   - name: "Add K8S Token and Hash to dummy host"
     ansible.builtin.add_host:
      name: "K8S_JOIN_COMMAND"
      cmd: "{{ kubeadmjoin.stdout }}"

# todo check if /etc/kubernetes/pki/ca.crt already exists to skip
- name: Join Workers
  hosts: 'k8sworkers'
  remote_user: kube
  become: true
  become_method: sudo
  tasks:
   - name: Open Firewall Ports (1/2)
     ansible.posix.firewalld:
      port: 6443/tcp
      permanent: true
      immediate: true
      state: enabled
   - name: Open Firewall Ports (2/2)
     ansible.posix.firewalld:
      port: 10250/tcp
      permanent: true
      immediate: true
      state: enabled

   - name: Join K8s
     ansible.builtin.command:
      cmd: "{{ hostvars['K8S_JOIN_COMMAND']['cmd'] }}"
     changed_when: true
