---
# tasks file for metal-lb
- name: Add helm repo
  kubernetes.core.helm_repository:
    name: nfs-subdir-external-provisioner
    repo_url: https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner

- name: Create a nfs-subdir-external-provisioner namespace
  kubernetes.core.k8s:
    name: nfs-subdir-external-provisioner
    api_version: v1
    kind: Namespace
    state: present
  environment:
    KUBECONFIG: "/home/{{user}}/.kube/config"

- name: Install provisoner
  kubernetes.core.helm:
    name: nfs-subdir-external-provisioner
    namespace: nfs-subdir-external-provisioner
    chart_ref: nfs-subdir-external-provisioner/nfs-subdir-external-provisioner
    set_values:
      - value: nfs.server={{serverIp | mandatory}}
        value_type: string
      - value: nfs.path={{volumePath | mandatory}}
        value_type: string
      - value: storageClass.provisionerName=k8s-sigs.io/nfs-subdir-external-provisioner
        value_type: string

- name: Apply Class
  kubernetes.core.k8s:
    state: present
    definition: "{{storageClassDefinition | mandatory}}"