---
- name: Add helm repo
  kubernetes.core.helm_repository:
    name: metallb
    repo_url: https://metallb.github.io/metallb

- name: Create a metallb namespace
  kubernetes.core.k8s:
    state: present
    definition:
      api_version: v1
      kind: Namespace
      metadata:
        name: metallb
        labels:
          pod-security.kubernetes.io/enforce: privileged
          pod-security.kubernetes.io/audit: privileged
          pod-security.kubernetes.io/warn: privileged
  environment:
    KUBECONFIG: "/home/{{user}}/.kube/config"

- name: Install metal-lb
  kubernetes.core.helm:
    name: metallb
    namespace: metallb
    chart_ref: metallb/metallb
    chart_version: "{{metallb_version}}"
    set_values:
      - value: controller.admissionWebhooks.enabled=false
        valueType: string
      - value: crds.validationFailurePolicy=Ignore
        valueType: string

- name: Apply Addresspool
  kubernetes.core.k8s:
    state: present
    definition: "{{addresspool}}"
  environment:
    KUBECONFIG: "/home/{{user}}/.kube/config"

- name: Wait 3 minute for safety
  ansible.builtin.pause:
    minutes: 3
