---
# tasks file for fetch-kubeconfig
- name: fetch kubeconfig
  ansible.builtin.fetch:
    src: /home/{{user}}/.kube/{{ item }}
    dest: ~/fetched
  loop:
    - config
    - kubeadm.yaml

- name: Remove kubeconfig
  delegate_to: localhost
  ansible.builtin.file:
    path: ~/.kube
    state: absent
    
- name: Move the kube dir
  delegate_to: localhost
  ansible.builtin.shell:
   cmd: mv ~/fetched/control01/home/rts-k8s/.kube ~/.kube
  changed_when: true

- name: Remove yaml
  delegate_to: localhost
  ansible.builtin.file:
    path: ~/fetched
    state: absent